{% extends 'partials/layout.njk' %}
{% block title %}Homepage{% endblock %}

{% block content %}
    {% if(name and age) %}
        <h1>Hellooo {{ name }} you are {{age}} years old!!</h1>
    {% endif %}
    <form action="/answer" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name here" name="name">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" min="0" class="form-control" id="age" placeholder="How old are you" name="age">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
{% endblock %}